In [1]:
import gzip
import json
import pandas as pd
import numpy as np
from os.path import join, isfile
from os import listdir
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
import string

In [2]:
def get_json(fname, fpath='../../wos_paper/wos_db_benchmark/benchmarking/'):
    fname = join(fpath, fname)
    if fname[-2:] == 'gz':
        with gzip.open(fname, "rb") as f:
            data = json.loads(f.read(), encoding="utf-8")
    else:
        with open(fname, 'r') as fp:
            data = json.load(fp)
    return data

def get_json_fnames(sourcepath='../../wos_paper/wos_db_benchmark/benchmarking/'):
    only_json = [f for f in listdir(sourcepath) if 
                     isfile(join(sourcepath, f)) 
                     and f[-4:] == 'json']
    return only_json


def get_result_fnames(sourcepath='../results/arango/'):
    r = [f for f in listdir(sourcepath) if 
                     isfile(join(sourcepath, f)) 
                     and f[-7:] == 'json.gz' and 'result' in f and 'limit' not in f]
    return r

def get_content(sql_list, fpath, how='sql'):
    report = []
    if how == 'sql':
        limit_tokens = 3
    elif how == 'arango':
        limit_tokens = 3
    else:
        limit_tokens = 3
    for f in sql_list:
        coded = f.split('_')
        limit = -1 if len(coded) < limit_tokens else int(coded[-1].split('.')[0])
        content = get_json(f, fpath)
        report += [(coded[0], limit, f, content)]
    return report

def get_report_gzipped(flist, fpath):
    acc = []
    for fname in flist:
        qname = fname.split('/')[0]
        data = get_json(fname, fpath)
        acc += [(qname, data)] 
    return acc

def get_mysql_times(sql_report):
    times_stat = []
    for item in sql_report:
        key, limit, f, content = item
        if 'elapsed' in content:
            times_stat += [(*item[:-1], content['elapsed'])]
        else:
            times_stat += [(*item[:-1], content['elapsed_1978'])]
    return times_stat

def get_arango_times(reports):
    times = [(*item[:-1], [sum(x.values()) for x in item[-1]]) for item in reports]
    times_stat = [(*item[:-1], np.mean(item[-1]), np.std(item[-1])) for item in times]
    return times_stat

In [3]:
sql_list = sorted(get_json_fnames())
sql_report = get_content(sql_list, '../../wos_paper/wos_db_benchmark/benchmarking/')

In [4]:
flist = sorted(get_result_fnames())
arango_data = get_report_gzipped(flist, '../results/arango/')

# Query 1

In [5]:
q1_sql = pd.DataFrame(sql_report[1][-1]['results_1978'], columns=['year', 'title', 'count'])
q1_arango = pd.DataFrame([{**item['journal'], **{'count': item['number_pubs']}} for item in arango_data[0][1]])

# q1_arango groupby by title for comparison
q1_arango_condensed = q1_arango.groupby('title')['count'].sum().reset_index().rename(columns={0:'count'})
q1_arango_condensed.sort_values('count', ascending=False).head()

                                                  title  count
2836                             FEDERATION PROCEEDINGS   7287
1528          BULLETIN OF THE AMERICAN PHYSICAL SOCIETY   5895
1973                                  CLINICAL RESEARCH   5208
11    ABSTRACTS OF PAPERS OF THE AMERICAN CHEMICAL S...   4514
1435                            BRITISH MEDICAL JOURNAL   3597

In [6]:
q1_cmp = pd.merge(q1_sql, q1_arango, on='title', how='outer', suffixes=['_sql', '_arango'])
q1_cmp2 = pd.merge(q1_sql, q1_arango_condensed, on='title', how='outer', suffixes=['_sql', '_arango'])
q1_cmp2 = q1_cmp2.sort_values('count_arango', ascending=False)
q1_cmp2['cmp'] = (q1_cmp2['count_sql'] == q1_cmp2['count_arango'])
q1_cmp2[['title', 'count_sql', 'count_arango', 'cmp']].head(12)

,title,count_sql,count_arango,cmp
0,FEDERATION PROCEEDINGS,7287.0,7287,True
1,BULLETIN OF THE AMERICAN PHYSICAL SOCIETY,5895.0,5895,True
2,CLINICAL RESEARCH,5208.0,5208,True
3,ABSTRACTS OF PAPERS OF THE AMERICAN CHEMICAL S...,4514.0,4514,True
4,BRITISH MEDICAL JOURNAL,3597.0,3597,True
5,LANCET,3189.0,3189,True
6,TLS-THE TIMES LITERARY SUPPLEMENT,3062.0,3062,True
7,NATURE,2990.0,2990,True
8,TRANSACTIONS-AMERICAN GEOPHYSICAL UNION,2812.0,2812,True
9,DOKLADY AKADEMII NAUK SSSR,2339.0,2339,True
1269,BIOCHIMICA ET BIOPHYSICA ACTA,NaN,2159,False
4811,JOURNAL OF THE AMERICAN CHEMICAL SOCIETY,NaN,1947,False

# Query 2

In [7]:
puncts = list(string.punctuation)
stop_words_nltk = set(stopwords.words('english'))
numerics = set([str(i) for i in range(100)])
all_stops = list(set(puncts) | stop_words_nltk | numerics)
# remove stopword from sql results
q2_sql = pd.DataFrame(sql_report[2][-1]['frequent_words'], columns=['uword', 'count'])
q2_sql_mod = q2_sql.loc[~q2_sql.uword.isin(all_stops)]

#remove '.2.' from arango results
q2_arango = pd.DataFrame(arango_data[1][1])
q2_arango = q2_arango.loc[~q2_arango.uword.apply(lambda x: x.startswith('.'))]


q2_cmp = pd.merge(q2_sql_mod, q2_arango, on='uword', how='outer', 
                  suffixes=['_sql', '_arango'])
# define error
q2_cmp['err'] = (q2_cmp['count_sql'] - q2_cmp['count_arango'])/q2_cmp['count_arango']

In [8]:
# define ranks
q2_cmp = q2_cmp.sort_values('count_sql', 
                            ascending=False).\
        reset_index().rename(columns={'index': '_'}).\
        reset_index().rename(columns={'index': 'rank_sql'})
q2_cmp = q2_cmp.sort_values('count_arango', 
                            ascending=False).\
        reset_index().rename(columns={'index': '_'}).\
        reset_index().rename(columns={'index': 'rank_arango'})
q2_cmp = q2_cmp.drop('_', axis=1)
q2_cmp.sort_values('count_sql', ascending=False).head(20)

    rank_arango  rank_sql          uword  count_sql  count_arango       err
0             0         0         effect   242666.0      242312.0  0.001461
1             1         1          study   189789.0      189016.0  0.004090
2             2         2        effects   185911.0      185526.0  0.002075
3             3         3        studies   185596.0      184634.0  0.005210
4             4         4            new   148332.0      147154.0  0.008005
5             5         5       analysis   114563.0      113725.0  0.007369
6             6         6      synthesis   107862.0      105913.0  0.018402
7             7         7          human   101709.0      101340.0  0.003641
10           10         8      structure    99601.0       97406.0  0.022535
8             8         9     properties    99019.0       98039.0  0.009996
9             9        10         system    98537.0       97533.0  0.010294
11           11        11         method    94204.0       93600.0  0.006453
12           12        12            rat    89516.0       88480.0  0.011709
14           14        13           acid    88060.0       84465.0  0.042562
13           13        14      treatment    87941.0       87507.0  0.004960
15           15        15       activity    85338.0       84299.0  0.012325
16           16        16  determination    84244.0       84090.0  0.001831
17           17        17      influence    75471.0       75328.0  0.001898
18           18        18    development    74917.0       73626.0  0.017535
19           19        19          cells    72177.0       71442.0  0.010288

# Query 3

In [9]:
sql_report[3][3]['results'][:]

[['SCHLEYER', 'PV', 16],
 ['SACTON', 'J', 14],
 ['MARICIC', 'S', 12],
 ['BALNER', 'H', 11],
 ['DAVIS', 'DH', 11],
 ['LUMBROSO', 'H', 11],
 ['MEBOLD', 'U', 11],
 ['MITCHISON', None, 11],
 ['MOLINA', 'R', 11],
 ['PERNIS', 'B', 11],
 ['ROBSON', 'EB', 11],
 ['WILSON', 'R', 11],
 ['AMOS', 'DB', 10],
 ['BAULIEU', 'EE', 10],
 ['BOKSENBERG', 'A', 10],
 ['CELADA', 'F', 10],
 ['CINADER', 'B', 10],
 ['CUNNINGHAM', 'B', 10],
 ['DICZFALUSY', 'E', 10],
 ['EDIDIN', 'M', 10],
 ['FOTHERBY', 'K', 10],
 ['FOX', 'L', 10],
 ['FUDENBERG', 'HH', 10],
 ['GALL', 'WE', 10],
 ['GOLDBERG', 'E', 10],
 ['GOODMAN', 'H', 10],
 ['GOSS', 'WM', 10],
 ['HARPER', 'MJK', 10],
 ['JONES', 'WR', 10],
 ['JURIC', 'M', 10],
 ['MILLER', 'JFAP', 10],
 ['MITCHELL', 'SF', 10],
 ['MONTWILL', 'A', 10],
 ['NOSSAL', 'GJV', 10],
 ['RYAN', 'KJ', 10],
 ['SCHMIDT', 'G', 10],
 ['SCHUMACHER', 'GFB', 10],
 ['SHIVERS', 'CA', 10],
 ['SOUTHAM', 'AL', 10],
 ['STEVENS', 'VC', 10],
 ['TALWAR', 'GP', 10],
 ['VAERMAN', 'JP', 10],
 ['VOISIN', 'GA', 10],
 ['VYAZOW', 'O', 10],
 ['WALDMAN', 'RH', 10],
 ['ABDELRAHMAN', 'HA', 9],
 ['ADAMOVIC', 'O', 9],
 ['AKKAS', 'N', 9],
 ['BRENNER', 'PF', 9],
 ['BRODBECK', 'U', 9],
 ['BURNS', 'A', 9],
 ['BURNY', 'F', 9],
 ['CHAN', 'T', 9],
 ['COOK', 'PJL', 9],
 ['COUTINHO', 'EM', 9],
 ['ECKSTEIN', 'B', 9],
 ['ENGIN', 'A', 9],
 ['GIBSON', 'T', 9],
 ['GOLA', 'M', 9],
 ['GOLDSMITH', 'W', 9],
 ['GOMEZROGERS', 'C', 9],
 ['GOPALAN', 'S', 9],
 ['GRECH', 'ES', 9],
 ['GUAL', 'C', 9],
 ['GUZELSU', 'N', 9],
 ['HICKEY', 'MV', 9],
 ['HUANG', 'HK', 9],
 ['JONES', 'TW', 9],
 ['KENEDI', 'RM', 9],
 ['KIM', 'SW', 9],
 ['KOETSAWANG', 'S', 9],
 ['KWON', 'E', 9],
 ['LANDGREN', 'BM', 9],
 ['LICHTENBERG', 'R', 9],
 ['MAPA', 'MK', 9],
 ['MOSCA', 'L', 9],
 ['NIEDERER', 'PF', 9],
 ['NUKULKARN', 'P', 9],
 ['PIEKARSKI', 'K', 9],
 ['PLUNKETT', 'ER', 9],
 ['RATNAM', 'SS', 9],
 ['REDDY', 'NP', 9],
 ['SHEARMAN', 'RP', 9],
 ['SHETH', 'UK', 9],
 ['SHRIMANKER', 'K', 9],
 ['SNIJDERS', 'CT', 9],
 ['SOLOMONIDIS', 'SE', 9],
 ['SOUZA', 'JCD', 9],
 ['TARENGHI', 'M', 9],
 ['TOPPOZADA', 'HK', 9],
 ['WIJN', 'PPF', 9],
 ['WOLF', 'H', 9],
 ['ALDRIDGE', 'WN', 8],
 ['AUGUSTINSSON', 'KB', 8],
 ['BARONI', 'G', 8],
 ['BENVENUTI', 'P', 8],
 ['BONETTI', 'S', 8],
 ['BULLOCK', 'FW', 8],
 ['CAVALLI', 'D', 8],
 ['DEWOLF', 'E', 8],
 ['DILIBERTO', 'S', 8],
 ['ELDEFRAWI', 'ME', 8],
 ['FELDMANN', 'M', 8],
 ['HOPFF', 'WH', 8],
 ['JOHNSON', 'D', 8],
 ['KRUPKA', 'RM', 8],
 ['MACCHETTO', 'F', 8],
 ['MASSOULIE', 'J', 8],
 ['MICHETTE', 'AG', 8],
 ['MONTADERT', 'L', 8],
 ['MOOSER', 'G', 8],
 ['MULLER', 'C', 8],
 ['OBRIEN', 'RD', 8],
 ['PALUMBO', 'GGC', 8],
 ['PATY', 'M', 8],
 ['PETRERA', 'S', 8],
 ['PULLIA', 'A', 8],
 ['REINER', 'E', 8],
 ['ROMANO', 'G', 8],
 ['ROSENBERRY', 'TL', 8],
 ['SILMAN', None, 8],
 ['SINGH', None, 8],
 ['TAYLOR', 'PW', 8],
 ['TEODORO', 'D', 8],
 ['TESH', 'RB', 8],
 ['VILAIN', 'P', 8],
 ['WINDMOLDERS', 'R', 8],
 ['WINNBERG', 'A', 8],
 ['ALBRECHT', 'R', 7],
 ['BECKER', 'L', 7],
 ['BELLOTTI', 'E', 7],
 ['BERGERON', 'J', 7],
 ['BERTRAND', 'D', 7],
 ['BLANCO', 'C', 7],
 ['BLUMENFELD', 'H', 7],
 ['BOGGESS', 'A', 7],
 ['BURGER', 'H', 7],
 ['CANTWELL', 'T', 7],
 ['CIATTI', 'F', 7],
 ['COLLINS', 'JB', 7],
 ['DEGRANGE', 'B', 7],
 ['DELOORE', 'C', 7],
 ['ESTEN', 'MJ', 7],
 ['FIORINI', 'E', 7],
 ['FRY', 'WF', 7],
 ['GULL', 'TR', 7],
 ['HAIDT', 'D', 7],
 ['HARRISON', 'W', 7],
 ['HASERT', 'FJ', 7],
 ['HECK', 'A', 7],
 ['HOLM', 'A', 7],
 ['HUTCHINGS', 'JB', 7],
 ['KANBACH', 'G', 7],
 ['KLEIN', 'G', 7],
 ['KRECKER', 'U', 7],
 ['KURTZ', 'N', 7],
 ['LUDWIG', 'H', 7],
 ['MARTIN', 'F', 7],
 ['MONDELLI', 'R', 7],
 ['MORFIN', 'J', 7],
 ['MYATT', 'G', 7],
 ['NATALI', 'S', 7],
 ['OSAWA', 'E', 7],
 ['PANAGIA', 'N', 7],
 ['PERKINS', 'DH', 7],
 ['PNIEWSKI', 'T', 7],
 ['ROLLIER', 'M', 7],
 ['ROSINO', 'L', 7],
 ['SANFORD', 'PW', 7],
 ['SCHALLY', 'AV', 7],
 ['SNIJDERS', 'MAJ', 7],
 ['THOMAS', 'H', 7],
 ['VANWOERDEN', 'H', 7],
 ['WALMSLEY', 'CM', 7],
 ['WEILER', 'KW', 7],
 ['WILQUET', 'G', 7],
 ['WOLF', 'B', 7],
 ['WU', 'CC', 7],
 ['ALLEGRE', 'CJ', 6],
 ['ARESTOV', 'YI', 6],
 ['AUFFRET', 'GA', 6],
 ['BACHMAN', 'SB', 6],
 ['Bailey', 'S. W.', 6],
 ['BARLOUTAUD', 'R', 6],
 ['BAUM', 'H', 6],
 ['BEGHTEL', 'FW', 6],
 ['BENKO', 'B', 6],
 ['BERTRANDCOREMANS', 'G', 6],
 ['BIERMANN', 'P', 6],
 ['BLUM', 'D', 6],
 ['BLUM', 'P', 6],
 ['BOCK', 'WD', 6],
 ['BOHM', 'G', 6],
 ['BRESLIN', 'A', 6],
 ['BRISSON', None, 6],
 ['BURGER', 'A', 6],
 ['BURGER', 'M', 6],
 ['BURTON', 'WM', 6],
 ['BUTT', 'A', 6],
 ['CARNEY', 'JN', 6],
 ['CASO', 'C', 6],
 ['CHLIAPNIKOV', 'PV', 6],
 ['CHURCHWELL', 'E', 6],
 ['COCHET', 'C', 6],
 ['COLLEY', 'DC', 6],
 ['CONTA', 'C', 6],
 ['CONTRI', 'R', 6],
 ['CONVERSI', 'M', 6],
 ['COOPER', 'M', 6],
 ['COREMANSBERTRAND', 'G', 6],
 ['CUNDY', 'DC', 6],
 ['DENNEFELD', 'M', 6],
 ['DIDYK', 'BM', 6],
 ['DODORICO', 'S', 6],
 ['DOWNES', 'D', 6],
 ['DUPEUBLE', 'PA', 6],
 ['DUPREE', 'AK', 6],
 ['ESMAEL', 'F', 6],
 ['EVANS', 'D', 6],
 ['FACCINITURLUER', 'ML', 6],
 ['FAISSNER', 'H', 6],
 ['Fleischer', 'M.', 6],
 ['Frank-Kamenetskii', 'V. A.', 6],
 ['FRANZINETTI', 'C', 6],
 ['GENSCH', 'U', 6],
 ['GIVERNAUD', 'A', 6],
 ['Goldsztaub', 'S.', 6],
 ['GOOSSENS', 'M', 6],
 ['GREWING', 'M', 6],
 ['HAGAMAN', 'EW', 6],
 ['HAGUENAUER', 'M', 6],
 ['HAILWOOD', 'EA', 6],
 ['HERMSEN', 'W', 6],
 ['HEUSSE', 'P', 6],
 ['HOWIE', 'S', 6],
 ['HUCHTMEIER', 'WK', 6],
 ['HUNG', 'TP', 6],
 ['JABIOL', 'MA', 6],
 ['JANCSO', 'G', 6],
 ['JOHNSON', 'HM', 6],
 ['JONES', 'T', 6],
 ['JORDAN', 'C', 6],
 ['JUNG', 'M', 6],
 ['KABE', 'S', 6],
 ['KAGAMI', 'H', 6],
 ['KASTIN', 'AJ', 6],
 ['KASUKAWA', 'R', 6],
 ['Kato', 'A.', 6],
 ['KINSON', 'JB', 6],
 ['KLEIN', 'J', 6],
 ['KRENZ', 'W', 6],
 ['KUROIWA', 'Y', 6],
 ['LAMERS', 'HJGLM', 6],
 ['LANDSBOROUGH', 'D', 6],
 ['LANE', 'AL', 6],
 ['LEGGETT', 'JK', 6],
 ['LEMONNE', 'J', 6],
 ['LENOIR', 'D', 6],
 ['LEVY', 'F', 6],
 ['LEWIN', 'C', 6],
 ['LIEGEOIS', 'C', 6],
 ['LIOTTA', 'L', 6],
 ['LUMSDEN', 'DN', 6],
 ['LUNDBERG', 'N', 6],
 ['LUTZ', 'AM', 6],
 ['MACNAUGHTON', 'J', 6],
 ['MAJERSKI', 'Z', 6],
 ['MARANO', 'B', 6],
 ['MAYERHASSELWANDER', 'HA', 6],
 ['MCKENZIE', 'J', 6],
 ['MCMILLEN', 'KJ', 6],
 ['MILLER', 'M', 6],
 ['MINAENKO', 'AA', 6],
 ['MOORE', 'JC', 6],
 ['MORIARTY', 'P', 6],
 ['MORTON', 'DC', 6],
 ['MUSSET', 'P', 6],
 ['NGUYEN', 'HK', 6],
 ['NGUYENKHAC', 'U', 6],
 ['NIITSUMA', 'N', 6],
 ['OLAH', 'GA', 6],
 ['ORTOLANI', 'S', 6],
 ['Pabst', 'A.', 6],
 ['PANKONIN', None, 6],
 ['PARK', 'CS', 6],
 ['PASCAUD', 'C', 6],
 ['PATTISON', 'JBM', 6],
 ['PENSTON', 'M', 6],
 ['PETIAU', 'P', 6],
 ['POPLE', 'JA', 6],
 ['POVEY', 'S', 6],
 ['RAFANELLI', 'P', 6],
 ['RATTI', 'S', 6],
 ['REIMERS', 'D', 6],
 ['ROBERTS', 'DG', 6],
 ['ROSEN', 'A', 6],
 ['ROUSSET', 'A', 6],
 ['RYBIN', 'AM', 6],
 ['SAIDI', 'S', 6],
 ['SANDFORD', 'MCW', 6],
 ['SARGENT', 'WLW', 6],
 ['SAUDRAIX', 'J', 6],
 ['SCHMIDT', 'M', 6],
 ['SCHNITKER', 'D', 6],
 ['SCHULTZE', 'K', 6],
 ['Schulz', 'H.', 6],
 ['SHAVER', 'PA', 6],
 ['SHEPHARD', 'LE', 6],
 ['SHIBASAKI', 'H', 6],
 ['SHIPLEY', 'TH', 6],
 ['SIGAL', 'J', 6],
 ['SINGHAL', 'BS', 6],
 ['SIXEL', 'P', 6],
 ['SMITH', None, 6],
 ['SOEMARGO', 'S', 6],
 ['SPASSKY', 'N', 6],
 ['STANNARD', 'FR', 6],
 ['STEPHAN', 'JF', 6],
 ['STEWART', 'JM', 6],
 ['STRADNER', 'H', 6],
 ['TANAKA', 'T', 6],
 ['Taylor', 'H. F. W.', 6],
 ['THOMPSON', 'RW', 6],
 ['THOMPSON', 'TL', 6],
 ['TIMOFEEV', 'PP', 6],
 ['TOMASINI', 'G', 6],
 ['TOVEE', 'DN', 6],
 ['TREVES', 'A', 6],
 ['TRIANTIS', 'FA', 6],
 ['TURNROSE', 'B', 6],
 ['ULRICH', 'MH', 6],
 ['ULSTRUP', 'J', 6],
 ['UVAROV', 'VA', 6],
 ['VAHERI', 'A', 6],
 ['VANDENHEUVEL', 'EPJ', 6],
 ['VEJJAJIVA', 'A', 6],
 ['VENUS', 'W', 6],
 ['VESENJAKHIRJAN', 'J', 6],
 ['VETTOLANI', 'G', 6],
 ['VIALLE', 'JP', 6],
 ['VONKROGH', 'J', 6],
 ['VUKPAVLOVIC', 'S', 6],
 ['WATKINS', 'JS', 6],
 ['WEISS', 'R', 6],
 ['WENDKER', 'HJ', 6],
 ['WENKERT', 'E', 6],
 ['WHELAN', 'JAJ', 6],
 ['WILLIS', 'AJ', 6],
 ['WILLS', 'RD', 6],
 ['Wilson', 'A. J. C.', 6],
 ['ZAKRZEWSKI', 'J', 6],
 ['AKUTSU', 'T', 5],
 ['ANDO', 'T', 5],
 ['ANGELINI', 'C', 5],
 ['ANGENHEISTER', 'G', 5],
 ['APELOIG', 'Y', 5],
 ['ARIMA', 'A', 5],
 ['ARNASON', 'A', 5],
 ['ARTHUR', 'M', 5],
 ['AUBERT', 'B', 5],
 ['AUBOUIN', 'J', 5],
 ['AVNER', 'P', 5],
 ['AZZONE', 'GF', 5],
 ['BAIRD', 'GA', 5],
 ['BALTAY', 'C', 5],
 ['BANKS', 'BEC', 5],
 ['BARNARD', 'C', 5],
 ['BARNHART', 'MI', 5],
 ['BAUBILLIER', 'M', 5],
 ['BAUMANN', 'G', 5],
 ['BENNETT', 'K', 5],
 ['BERNE', 'BH', 5],
 ['BERTOLA', 'F', 5],
 ['BIGNAMI', 'GF', 5],
 ['BINDER', 'K', 5],
 ['BINKLEY', 'JS', 5],
 ['BJORNSSON', 'S', 5],
 ['BLIETSCHAU', 'J', 5],
 ['BLONDEL', 'A', 5],
 ['BLOODWORTH', 'IJ', 5],
 ['BOHN', 'H', 5],
 ['BONNEAUD', 'G', 5],
 ['BOOS', 'EG', 5],
 ['BORCH', 'G', 5],
 ['BOSIO', 'R', 5],
 ['BOYDE', 'A', 5],
 ['BROOKS', 'RR', 5],
 ['BROWN', 'D', 5],
 ['BROWN', 'JC', 5],
 ['BRUNNER', 'H', 5],
 ['BUCCHERI', 'R', 5],
 ['BUCKTON', 'KE', 5],
 ['BURGER', 'K', 5],
 ['BURHOP', 'EHS', 5],
 ['BURNSTOCK', 'G', 5],
 ['CAMERINI', 'U', 5],
 ['CAMMACK', 'R', 5],
 ['CAPACCIOLI', 'M', 5],
 ['CASALI', 'R', 5],
 ['CASSATELLA', 'A', 5],
 ['CATLOW', 'CRA', 5],
 ['CECCHET', 'G', 5],
 ['CERADINI', 'F', 5],
 ['CHANDRASEKHAR', 'J', 5],
 ['CHOUNET', 'LM', 5],
 ['CHRETIEN', 'FC', 5],
 ['CHRETIEN', 'M', 5],
 ['CIBOROWSKI', 'J', 5],
 ['CLAVEL', 'J', 5],
 ['CLAVELL', 'J', 5],
 ['COHEN', 'P', 5],
 ['COLIZZA', 'S', 5],
 ['CONTI', 'PS', 5],
 ['CREMER', 'D', 5],
 ['DANIEL', 'JL', 5],
 ['DARONIAN', 'P', 5],
 ['DAUDIN', 'A', 5],
 ['DAVIS', 'RJ', 5],
 ['DEDEN', 'H', 5],
 ['DEGREVE', 'JP', 5],
 ['DELANEY', 'T', 5],
 ['DEWIT', 'M', 5],
 ['DOONAN', 'S', 5],
 ['DOPITA', 'MA', 5],
 ['DREVER', 'RWP', 5],
 ['DREW', 'MGB', 5],
 ['DRNDAREVIC', 'S', 5],
 ['DUBOST', 'C', 5],
 ['DUNN', 'IG', 5],
 ['EINARSSON', 'P', 5],
 ['ELGUERO', 'J', 5],
 ['ELVIUS', 'AM', 5],
 ['EVANS', 'MCW', 5],
 ['FALK', 'H', 5],
 ['FOGLIMUCIACCIA', 'MT', 5],
 ['FOMALONT', 'EB', 5],
 ['FOSBURY', 'R', 5],
 ['FOWDEN', 'L', 5],
 ['FRANCOIS', 'T', 5],
 ['FRUIN', 'JH', 5],
 ['GAJDAMOVIC', 'SJ', 5],
 ['GAJDUSEK', 'DC', 5],
 ['GANF', 'GG', 5],
 ['GAVILLET', 'P', 5],
 ['GEBRANDE', 'H', 5],
 ['GEDDEDAHL', 'T', 5],
 ['GEHREN', 'T', 5],
 ['GHOGAIN', 'CN', 5],
 ['GIOVANELLA', 'BC', 5],
 ['GOLDFLAM', 'P', 5],
 ['GOLDSTEIN', 'S', 5],
 ['GONDHALEKAR', 'P', 5],
 ['GORDON', 'C', 5],
 ['GRAHAM', 'A', 5],
 ['GRARD', 'F', 5],
 ['GRUBMULLER', 'P', 5],
 ['GUIBERT', 'J', 5],
 ['GURSKY', 'H', 5],
 ['GUTTMANN', 'RD', 5],
 ['HACKNEY', 'RL', 5],
 ['HAFEZ', 'ESE', 5],
 ['HAMILTON', 'D', 5],
 ['HANSEN', 'JP', 5],
 ['HARA', 'S', 5],
 ['HARRIS', 'R', 5],
 ['HARTMANN', 'LW', 5],
 ['HASELBACH', 'E', 5],
 ['HEARN', 'AG', 5],
 ['HEARSE', 'DJ', 5],
 ['HEILBRONNER', 'E', 5],
 ['HEMPE', 'K', 5],
 ['HENRI', 'VP', 5],
 ['HILLIER', 'SG', 5],
 ['HOFMANN', 'R', 5],
 ['HOKFELT', 'T', 5],
 ['HOPKINSON', 'DA', 5],
 ['HORNE', 'CHW', 5],
 ['HULTEN', 'M', 5],
 ['HUNTER', 'WM', 5],
 ['INAMOTO', 'Y', 5],
 ['ITO', 'K', 5],
 ['ITO', 'Y', 5],
 ['JACOB', 'M', 5],
 ['JACOBY', 'WR', 5],
 ['JAFFRE', 'M', 5],
 ['JAUNEAU', 'L', 5],
 ['JELLEY', 'JV', 5],
 ['JOELSSON', None, 5],
 ['JONES', 'BR', 5],
 ['JONES', 'GT', 5],
 ['JORDAN', 'JA', 5],
 ['JUGAKU', 'J', 5],
 ['KAPIKIAN', 'AZ', 5],
 ['KATZ', 'N', 5],
 ['KENNEDY', 'JH', 5],
 ['KHAN', 'MA', 5],
 ['KIELCZEWSKA', 'D', 5],
 ['KIRK', 'RL', 5],
 ['KLABUHN', 'J', 5],
 ['KLASINC', 'L', 5],
 ['KLAUSCH', 'B', 5],
 ['KLEIN', 'ML', 5],
 ['KLEIN', 'R', 5],
 ['KLUBERG', 'L', 5],
 ['KMET', 'J', 5],
 ['KONDO', 'Y', 5],
 ['KONTIAINEN', 'S', 5],
 ['KROGH', 'JV', 5],
 ['LADIK', 'J', 5],
 ['LANSKE', 'D', 5],
 ['LEE', 'CH', 5],
 ['LEE', 'SL', 5],
 ['LEPINE', 'JRD', 5],
 ['LEQUEUX', 'J', 5],
 ['LEVI', 'L', 5],
 ['LEVY', 'C', 5],
 ['LIAAENJENSEN', 'S', 5],
 ['LICHTI', 'GG', 5],
 ['LINSKY', 'JL', 5],
 ['LITVINENKO', None, 5],
 ['LONCAREVIC', 'B', 5],
 ['LONGUEMARE', 'C', 5],
 ['LOUDON', 'AG', 5],
 ['LUNDGREN', 'G', 5],
 ['LUSHER', 'J', 5],
 ['MAITZEN', 'HM', 5],
 ['MANFREDINI', 'A', 5],
 ['MARION', 'P', 5],
 ['MARTIN', 'R', 5],
 ['MASNOU', 'JL', 5],
 ['MASON', 'R', 5],
 ['MATTEUZZI', 'C', 5],
 ['MATTHEWS', 'HE', 5],
 ['MATZIK', 'P', 5],
 ['MCKERVEY', 'MA', 5],
 ['MCLAREN', 'AD', 5],
 ['MCMAHON', 'G', 5],
 ['MEIKLE', 'WPS', 5],
 ['MERLINI', 'L', 5],
 ['MEYER', 'J', 5],
 ['MILLER', 'DJ', 5],
 ['MILLER', 'H', 5],
 ['MOFFAT', 'AFJ', 5],
 ['Moore', 'G. R.', 5],
 ['MORALES', 'A', 5],
 ['MORENO', 'E', 5],
 ['MORGAN', 'GE', 5],
 ['MORIGI', 'G', 5],
 ['MULKENS', 'H', 5],
 ['MYKLEBOST', 'K', 5],
 ['NAKAJIMA', 'T', 5],
 ['NASINI', 'G', 5],
 ['NILSSON', 'S', 5],
 ['NORMAN', 'JC', 5],
 ['NURNBERG', 'HW', 5],
 ['NUZZO', 'S', 5],
 ['OSTBERG', 'Y', 5],
 ['PALMASON', 'G', 5],
 ['PARMAR', 'AN', 5],
 ['PARTRIDGE', 'RB', 5],
 ['PATERNO', 'L', 5],
 ['PATTISON', 'JB', 5],
 ['PAUL', 'JA', 5],
 ['PAVLENKOVA', 'NI', 5],
 ['PAZZI', 'R', 5],
 ['PEARSE', 'AGE', 5],
 ['PENSTON', 'MV', 5],
 ['PERDANG', 'J', 5],
 ['PERINOTTO', 'M', 5],
 ['PEROLA', 'CG', 5],
 ['PEROLA', 'GC', 5],
 ['PERRAM', 'JW', 5],
 ['PERRY', 'JJ', 5],
 ['PESCH', 'W', 5],
 ['PINFOLD', 'J', 5],
 ['POHL', 'M', 5],
 ['POLLARD', 'GSW', 5],
 ['PRADERIE', 'F', 5],
 ['PRATAP', 'M', 5],
 ['PUDDU', None, 5],
 ['RAO', 'CNR', 5],
 ['RASOLT', 'M', 5],
 ['RAYMOND', 'JC', 5],
 ['REES', 'D', 5],
 ['REHAULT', 'JP', 5],
 ['REICHERT', 'LE', 5],
 ['RICCI', 'A', 5],
 ['RIESTER', 'JL', 5],
 ['RITTNER', 'C', 5],
 ['RIVOAL', 'M', 5],
 ['ROBERTS', 'BP', 5],
 ['RODHAIN', 'F', 5],
 ['RODRIGUEZ-ITURBE', None, 5],
 ['ROEDER', 'RC', 5],
 ['ROMANO', 'F', 5],
 ['ROMERO', 'A', 5],
 ['ROONEY', 'JJ', 5],
 ['ROSSI', None, 5],
 ['RUOSLAHTI', 'E', 5],
 ['RYAN', 'WBF', 5],
 ['SAITO', 'H', 5],
 ['SANCHEZ', 'M', 5],
 ['SANCISI', 'R', 5],
 ['SANTONICO', 'R', 5],
 ['SATO', 'T', 5],
 ['SCARSI', 'L', 5],
 ['SCHMIDT', 'E', 5],
 ['SCHNEIDER', 'H', 5],
 ['SCHOLZ', 'M', 5],
 ['SCOTT', 'WG', 5],
 ['SELVELLI', 'PL', 5],
 ['SHERMAN', 'AI', 5],
 ['SINGH', 'S', 5],
 ['SLUTSKY', 'J', 5],
 ['SMITH', 'A', 5],
 ['SMITH', 'D', 5],
 ['SMITH', 'H', 5],
 ['SMITH', 'VH', 5],
 ['SOBCZAK', 'T', 5],
 ['SOBZCAK', 'T', 5],
 ['SOLOMON', 'SC', 5],
 ['SOSNOWSKI', 'R', 5],
 ['SRAMEK', 'RA', 5],
 ['STEINER', 'DF', 5],
 ['STERGIOU', 'A', 5],
 ['STERKEN', 'C', 5],
 ['STEWART', 'WC', 5],
 ['STICKLAND', 'DJ', 5],
 ['STIMSON', 'WH', 5],
 ['STRAUBE', 'W', 5],
 ['SWANENBURG', 'BN', 5],
 ['SZABO', 'A', 5],
 ['TAYLOR', 'BG', 5],
 ['THAKKAR', 'AJ', 5],
 ['THAN', 'GN', 5],
 ['THOMAS', 'JM', 5],
 ['TIMPL', 'R', 5],
 ['TODOROVIC', 'Z', 5],
 ['TREVISAN', 'U', 5],
 ['TRINAJSTIC', 'N', 5],
 ['TURINA', 'M', 5],
 ['TYMIENIECKA', 'T', 5],
 ['VALENTA', 'P', 5],
 ['VANBRUGGEN', 'EFJ', 5],
 ['VANDAM', 'P', 5],
 ['VANPARADIJS', 'J', 5],
 ['VANTHANH', 'N', 5],
 ['VERBEURE', 'F', 5],
 ['VIOTTI', 'R', 5],
 ['VOGT', 'N', 5],
 ['WACHSMUTH', 'H', 5],
 ['WALMSLEY', 'SH', 5],
 ['WARTIOVAARA', 'J', 5],
 ['WEERTS', 'H', 5],
 ['WEIGEL', 'W', 5],
 ['WEISS', 'J', 5],
 ['WELCH', 'J', 5],
 ['WELCH', 'L', 5],
 ['WEST', 'RM', 5],
 ['WHITE', 'NE', 5],
 ['WHITMORE', 'J', 5],
 ['WICK', 'G', 5],
 ['WIDE', 'L', 5],
 ['WIGZELL', 'H', 5],
 ['WILLIAMS', 'CA', 5],
 ['WILLIAMS', 'JG', 5],
 ['Williams', 'R. J. P.', 5],
 ['WILSON', 'AS', 5],
 ['WILSON', 'TL', 5],
 ['WING', 'RF', 5],
 ['WITZEL', 'A', 5],
 ['WOLF', 'E', 5],
 ['WOODY', 'J', 5],
 ['WYSOTZKI', 'F', 5],
 ['ZEUTHEN', 'J', 5],
 ['ZITOUN', 'R', 5],
 ['ZVEREV', 'SM', 5],
 ['AARSNES', 'K', 4],
 ['ABOUNA', 'GM', 4],
 ['ADAM', 'W', 4],
 ['AFZAL', 'M', 4],
 ['AGARWAL', 'GS', 4],
 ['AHMED', 'M', 4],
 ['AHMED', 'N', 4],
 ['AIGAMI', 'K', 4],
 ['AIHARA', 'S', 4],
 ['AIZENMAN', 'ML', 4],
 ['ALBAREDE', 'F', 4],
 ['ALBERI', 'G', 4],
 ['ALDROVANDI', 'A', 4],
 ['ALVAREZ', 'E', 4],
 ['AMEMIYA', 'H', 4],
 ['AMUNDSEN', 'R', 4],
 ['ANDERSEN', 'J', 4],
 ['ANDERSEN', 'P', 4],
 ['ANDERSON', 'JM', 4],
 ['ANDRES', 'G', 4],
 ['ANGGARD', 'A', 4],
 ['ANTICH', 'P', 4],
 ['ARFORS', 'KE', 4],
 ['ARIMURA', 'A', 4],
 ['ARMENISE', 'N', 4],
 ['ASHLEY', 'JC', 4],
 ['AYALA', 'FJ', 4],
 ['AYALA', 'SC', 4],
 ['AYRES', 'TR', 4],
 ['AZEMA', 'J', 4],
 ['BAHRAWI', 'W', 4],
 ['BAKER', None, 4],
 ['BALDI', 'R', 4],
 ['BALLY', 'T', 4],
 ['BANGHAM', 'DR', 4],
 ['BARNARD', 'GA', 4],
 ['BARNDORFFNIELSON', 'O', 4],
 ['BARNES', 'R', 4],
 ['BARNICOT', None, 4],
 ['BARRIER', 'M', 4],
 ['BARTLEY', 'JH', 4],
 ['BASRI', 'GS', 4],
 ['BASSOMPIERRE', 'G', 4],
 ['BAUER', 'G', 4],
 ['BAUMANN', 'R', 4],
 ['BECKER', 'R', 4],
 ['BECKWITH', 'ALJ', 4],
 ['BEECKMANS', 'F', 4],
 ['BEHR', 'L', 4],
 ['BELLAIRS', 'R', 4],
 ['BELOTTI', 'E', 4],
 ['BENCIC', 'Z', 4],
 ['BENNETT', 'FJ', 4],
 ['BERG', 'K', 4],
 ['BERGER', 'R', 4],
 ['BERNSTEIN', 'J', 4],
 ['BERRYMAN', None, 4],
 ['BERTHIER', 'AM', 4],
 ['BERTRANDCOREMANS', 'GH', 4],
 ['BEUTNER', 'EH', 4],
 ['BEVAN', 'S', 4],
 ['BEVERLEY', 'P', 4],
 ['BEVERLEY', 'PCL', 4],
 ['BIGAZZI', 'M', 4],
 ['BIGNAMI', 'G', 4],
 ['BINGHAM', 'DK', 4],
 ['BIRNBAUM', 'A', 4],
 ['BISHOP', 'RED', 4],
 ['BISHOP', 'RF', 4],
 ['BISI', None, 4],
 ['BLAES', 'G', 4],
 ['BLAKE', 'NM', 4],
 ['BLECHSMIDT', 'G', 4],
 ['BLOOM', None, 4],
 ['BOBROW', 'M', 4],
 ['BODMER', 'J', 4],
 ['BOELLA', 'G', 4],
 ['BOHLIN', 'RC', 4],
 ['BOHM', 'L', 4],
 ['BOLTA', 'JM', 4],
 ['BOOTH', 'RS', 4],
 ['BORG', 'H', 4],
 ['BOSMA', 'A', 4],
 ['BOSSEN', 'GJ', 4],
 ['BOUTEILLE', 'M', 4],
 ['BOVE', 'JM', 4],
 ['BOZOKI', 'G', 4],
 ['BRANDAO', 'A', 4],
 ['BREGER', 'M', 4],
 ['BRINKMAN', 'AC', 4],
 ['BROGLIA', 'RA', 4],
 ['BROWN', 'G', 4],
 ['BROWN', 'GM', 4],
 ['BROWN', 'RE', 4],
 ['BRUNTON', 'G', 4],
 ['BUDIARSO', 'RLP', 4],
 ['BULLOCK', 'IW', 4],
 ['BURGIS', 'MJ', 4],
 ['BURMEISTER', 'H', 4],
 ['BURNS', 'W', 4],
 ['CALLIGARICH', 'E', 4],
 ['CANTORE', 'A', 4],
 ['CARAVEO', 'P', 4],
 ['CARAVEO', 'PA', 4],
 ['CARNESECCHI', 'G', 4],
 ['CARRASCO', 'L', 4],
 ['CATTANI', 'M', 4],
 ['CHANOCK', 'RM', 4],
 ['CHARLES', 'PA', 4],
 ['CHATTERJEE', 'S', 4],
 ['CHATURVEDI', 'S', 4],
 ['CHAUMET', 'M', 4],
 ['CHE', 'M', 4],
 ['CHEN', 'CC', 4],
 ['CHEN', 'CS', 4],
 ['CHEN', 'HC', 4],
 ['CHEN', 'SC', 4],
 ['CHOUNET', 'IM', 4],
 ['CHRISTILLIN', 'P', 4],
 ['CLARDY', 'J', 4],
 ['CLARK', 'DH', 4],
 ['CLARK', 'GJ', 4],
 ['CLEMMESEN', 'J', 4],
 ['COHEN', 'A', 4],
 ['COHEN', 'M', 4],
 ['COHEN', 'S', 4],
 ['COLEMAN', 'CI', 4],
 ['COLEMAN', 'R', 4],
 ['COLLEGE', 'J', 4],
 ['COMBER', 'C', 4],
 ['COMTET', 'A', 4],
 ['CONNOR', 'JNL', 4],
 ['CONRAD', 'H', 4],
 ['COOKE', 'BA', 4],
 ['COOPER', 'MD', 4],
 ['CORBETT', 'JW', 4],
 ['COREMANS', 'GHB', 4],
 ['COTES', 'PM', 4],
 ['COWAN', 'CA', 4],
 ['COX', 'GF', 4],
 ['CRAIG', 'DP', 4],
 ['CRESTI', 'M', 4],
 ['CROFTS', 'AR', 4],
 ['CUNDY', 'D', 4],
 ['CURE', 'J', 4],
 ['DALZIEL', 'R', 4],
 ['DAMICO', 'N', 4],
 ['DANILCHENKO', None, 4],
 ['DANKS', 'AC', 4],
 ['DAS', 'SK', 4],
 ['DAVIDSON', 'DW', 4],
 ['DAVIES', 'JE', 4],
 ['DAY', 'NE', 4],
 ['DECHARPAL', 'O', 4],
 ['DEEHR', 'CS', 4],
 ['DEGRACIANSKY', 'PC', 4],
 ['DEGRANGE', 'D', 4],
 ['DEJOURS', 'P', 4],
 ['DELIMA', 'CJ', 4],
 ['DELPOZO', 'E', 4],
 ['DERRICK', 'M', 4],
 ['DERRICK', 'PJ', 4],
 ['DEWITT', 'WE', 4],
 ['DICKEL', 'HR', 4],
 ['DILL', 'JD', 4],
 ['DIXON', 'VA', 4],
 ['DOGONADZE', 'RR', 4],
 ['DONNER', 'M', 4],
 ['DORE', 'U', 4],
 ['DUBOIS', 'J', 4],
 ['DUNCAN', 'A', 4],
 ['DUNFORD', 'E', 4],
 ['DUPONT', 'B', 4],
 ['ECKSTEIN', 'F', 4],
 ['EDWARDS', 'DI', 4],
 ['EGELAND', 'A', 4],
 ['EICHTEN', 'T', 4],
 ['EKERS', 'RD', 4],
 ['ELSON', 'LA', 4],
 ['EMDIN', 'S', 4],
 ['ENGLER', 'EM', 4],
 ['ERB', 'P', 4],
 ['ERIKSSON', 'K', 4],
 ['ERNSTER', 'L', 4],
 ['ERRIQUEZ', 'O', 4],
 ['EVANS', 'DC', 4],
 ['FACCINI', 'M', 4],
 ['FALK', 'JA', 4],
 ['FALKMER', 'S', 4],
 ['FARCASIU', 'D', 4],
 ['FARCASIU', 'M', 4],
 ['FAURE', 'R', 4],
 ['FEDERICI', 'L', 4],
 ['FELDMAN', 'M', 4],
 ['FELLMAN', 'J', 4],
 ['FELLOUS', 'M', 4],
 ['FERRARA', 'GB', 4],
 ['FERRARI', 'R', 4],
 ['FERRER', 'MJ', 4],
 ['FEUVRAY', 'D', 4],
 ['FIORDILINO', 'E', 4],
 ['FISCHER', 'J', 4],
 ['FISHER', 'D', 4],
 ['FITTS', 'DD', 4],
 ['FLUCK', 'E', 4],
 ['FRANCIS', 'MJO', 4],
 ['FREDHOLM', 'B', 4],
 ['FREEMAN', 'HR', 4],
 ['FREUNDT', 'AE', 4],
 ['FRIEDMAN', 'HL', 4],
 ['FRIEDRICH', 'H', 4],
 ['FRIESEN', 'H', 4],
 ['FUJIKURA', 'Y', 4],
 ['FUJITA', 'S', 4],
 ['FURNIVAL', 'BE', 4],
 ['FURST', 'E', 4],
 ['FURTADO', 'A', 4],
 ['GALZIGNA', 'L', 4],
 ['GAMBA', 'D', 4],
 ['GANDSMAN', 'J', 4],

In [10]:
q3_sql = pd.DataFrame(sql_report[3][3]['results'][:], 
                      columns=['last_name', 'first_name', 'cnt']).sort_values(['cnt', 'last_name', 'first_name'],

SyntaxError: unexpected EOF while parsing (<ipython-input-10-b7bf38982fd1>, line 2)

In [ ]:
q3_sql.head()

In [ ]:
q3_sql = pd.DataFrame(sql_report[3][3]['results'][:], 
                      columns=['last_name', 'first_name', 'cnt']).sort_values(['cnt', 'last_name', 'first_name'], 
                                                                              ascending=False)
q3_sql = q3_sql[['last_name', 'first_name', 'cnt']]

q3_arango = pd.DataFrame(arango_data[2][1]).sort_values(['cnt', 'last_name', 'first_name'], ascending=False)
q3_arango = q3_arango.loc[(q3_arango.last_name != '') & (q3_arango.first_name != '')]
q3_arango = q3_arango[['last_name', 'first_name', 'cnt']]

In [ ]:
q3_cmp = pd.merge(q3_sql, q3_arango, on=['last_name', 'first_name'], suffixes=['_sql', '_arango'])

In [ ]:
q3_cmp.head(20)

# Query 4

In [ ]:
q4_sql = pd.DataFrame(sql_report[4][-1]['results']).rename(columns={'A': 'wosid'})
q4_arango = pd.DataFrame([{'ratio': dd['f'], 'wosid': w} for dd in arango_data[3][-1] for w in dd['ids']])
q4_cmp = pd.merge(q4_sql[['wosid', 'ratio']], q4_arango, on='wosid', how='left', suffixes=['_sql', '_arango'])
q4_cmp['err'] = abs((q4_cmp['ratio_sql'] - q4_cmp['ratio_arango'])/q4_cmp['ratio_arango'])
q4_cmp['flag'] = (q4_cmp['err'] > 1e-3)
q4_cmp.head(20)

In [ ]:
sum(q4_cmp.flag)

In [ ]:
q4_cmp.loc[q4_cmp.flag]

# Query 5 : only arango ready

In [ ]:
ww = arango_data[4][1]

In [ ]:
jas = sorted([x['ja'] for x in ww])
jbs = set([y['jb'] for x in ww for y in x['stats']])
jall = sorted(set(jas) | jbs)
print(len(jas), len(jbs), len(jall))

In [ ]:
acc = []
jas = [item['ja'] for item in ww]
for item in ww[:]:
    arr = [x['s'] for x in item['stats']]
    ixs = [x['jb'] for x in item['stats']]
    acc += [pd.Series(arr, index=ixs)]
q5_arango = pd.concat(acc, axis=1, sort=True)
q5_arango = q5_arango.rename(columns=dict(zip(range(len(jas)), jas)))

In [ ]:
q5_arango.head()

In [ ]:
q5_arango.shape

In [ ]:
sql_report[5][-1]['results'][:3]

In [ ]:
#q6
arango_data[-1]