In [1]:
import gzip
import json
import pandas as pd

with gzip.open('../results/arango/query4_result_batch_0.json.gz', "rb") as f:
    data = json.loads(f.read(), encoding="utf-8")

In [2]:
len(data)

909

In [3]:
# with gzip.open('../results/arango/query4_result_limit_10000000_batch_0.json.gz', "rb") as f:
#     data2 = json.loads(f.read(), encoding="utf-8")
# len(data2), data2[:5]

In [4]:
data[:5]

[{'f': 126, 'ids': ['WOS:A1978FV54600117']},
 {'f': 103, 'ids': ['WOS:A1978FW60600008']},
 {'f': 85, 'ids': ['WOS:A1978EV31700040']},
 {'f': 75, 'ids': ['WOS:A1978EP90300642']},
 {'f': 71, 'ids': ['WOS:A1978EK02600050']}]

In [5]:
flat = [(x, item['f']) for item in data for x in item['ids']]

In [6]:
len(flat)

6618

In [7]:
df = pd.DataFrame(flat, columns=['id', 'frac'])

In [8]:
df.head()

                    id   frac
0  WOS:A1978FV54600117  126.0
1  WOS:A1978FW60600008  103.0
2  WOS:A1978EV31700040   85.0
3  WOS:A1978EP90300642   75.0
4  WOS:A1978EK02600050   71.0

In [9]:
df.to_csv('../results/arango/q4_result.csv')

In [10]:
df2 = pd.read_csv('../results/arango/q4_result.csv', index_col=0)

In [18]:
df2.head(10)['id'].to_list()

['WOS:A1978FV54600117',
 'WOS:A1978FW60600008',
 'WOS:A1978EV31700040',
 'WOS:A1978EP90300642',
 'WOS:A1978EK02600050',
 'WOS:A1978EU89401637',
 'WOS:A1978EW70500022',
 'WOS:A1978EG81500237',
 'WOS:A1978EP04700423',
 'WOS:A1978EH33500016']