In [1]:
import gzip
import json
import pandas as pd
import numpy as np
from os.path import join, isfile
from os import listdir
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def get_json(fname, fpath='../../wos_paper/wos_db_benchmark/benchmarking/'):
    fname = join(fpath, fname)
    with open(fname, 'r') as fp:
        data = json.load(fp)
    return data

def get_json_fnames(sourcepath='../../wos_paper/wos_db_benchmark/benchmarking/'):
    only_json = [f for f in listdir(sourcepath) if 
                     isfile(join(sourcepath, f)) 
                     and f[-4:] == 'json']
    return only_json

def get_content(sql_list, fpath, how='sql'):
    report = []
    if how == 'sql':
        limit_tokens = 3
    elif how == 'arango':
        limit_tokens = 3
    else:
        limit_tokens = 3
    for f in sql_list:
        coded = f.split('_')
        limit = -1 if len(coded) < limit_tokens else int(coded[-1].split('.')[0])
        content = get_json(f, fpath)
        report += [(coded[0], limit, f, content)]
    return report

def get_mysql_times(sql_report):
    times_stat = []
    for item in sql_report:
        key, limit, f, content = item
        if 'elapsed' in content:
            times_stat += [(*item[:-1], content['elapsed'])]
        else:
            times_stat += [(*item[:-1], content['elapsed_1978'])]
    return times_stat

def get_arango_times(reports):
    times = [(*item[:-1], [sum(x.values()) for x in item[-1]]) for item in reports]
    times_stat = [(*item[:-1], np.mean(item[-1]), np.std(item[-1])) for item in times]
    return times_stat

In [3]:
sql_list = sorted(get_json_fnames())
sql_report = get_content(sql_list, '../../wos_paper/wos_db_benchmark/benchmarking/')
sql_times = get_mysql_times(sql_report)
sql_times[:4]

[('query1', -1, 'query1_results.json', 5.173050403594971),
 ('query1', 125, 'query1_results_125.json', 12.609336137771606),
 ('query2', -1, 'query2_results.json', 100.15733695030212),
 ('query3', -1, 'query3_results.json', 838.3496978282928)]

In [4]:
arango_list = sorted(get_json_fnames('../results/arango/'))
arango_report = get_content(arango_list, '../results/arango/')
arango_times = get_arango_times(arango_report)
arango_times[:3]

[('query1',
  -1,
  'query1_profile.json',
  102.45896935462952,
  0.47149495004183867),
 ('query1',
  10,
  'query1_profile_limit_10.json',
  0.0007680257161458334,
  4.134865280457959e-05),
 ('query1',
  1280,
  'query1_profile_limit_1280.json',
  9.039621829986572,
  4.916712782442367)]

In [17]:
dfa = pd.DataFrame(arango_times, columns=['query', 'limit', 'fname', 'delta', 'std']).sort_values(['query', 'limit'])
dfs = pd.DataFrame(sql_times, columns=['query', 'limit', 'fname', 'delta']).sort_values(['query', 'limit'])

In [18]:
dfa

     query     limit                               fname       delta        std
0   query1        -1                 query1_profile.json  102.458969   0.471495
8   query1         5         query1_profile_limit_5.json    0.000692   0.000162
1   query1        10        query1_profile_limit_10.json    0.000768   0.000041
4   query1        20        query1_profile_limit_20.json    0.017741   0.006473
7   query1        40        query1_profile_limit_40.json    0.024754   0.014577
11  query1        80        query1_profile_limit_80.json    0.088174   0.051521
3   query1       160       query1_profile_limit_160.json    0.239687   0.121746
6   query1       320       query1_profile_limit_320.json    1.003525   0.655020
10  query1       640       query1_profile_limit_640.json    3.161221   1.671771
2   query1      1280      query1_profile_limit_1280.json    9.039622   4.916713
5   query1      2560      query1_profile_limit_2560.json   24.945447  11.523589
9   query1      5120      query1_profile_limit_5120.json   63.612212   3.885838
12  query2        -1                 query2_profile.json  128.315026   1.068647
13  query2        10        query2_profile_limit_10.json   10.698906   0.021400
14  query2       100       query2_profile_limit_100.json   10.673837   0.002912
15  query2      1000      query2_profile_limit_1000.json   10.737183   0.017862
16  query2     10000     query2_profile_limit_10000.json   10.970796   0.034787
17  query2    100000    query2_profile_limit_100000.json   13.389215   0.167586
18  query2   1000000   query2_profile_limit_1000000.json   41.146657   0.262668
19  query2  10000000  query2_profile_limit_10000000.json  188.520056   1.059539
20  query3        -1                 query3_profile.json   22.170851   0.052303
34  query3         5         query3_profile_limit_5.json    0.000556   0.000121
21  query3        10        query3_profile_limit_10.json    0.000493   0.000021
27  query3        20        query3_profile_limit_20.json    0.003473   0.004096
32  query3        40        query3_profile_limit_40.json    0.000800   0.000054
38  query3        80        query3_profile_limit_80.json    0.001224   0.000071
25  query3       160       query3_profile_limit_160.json    0.011961   0.014318
30  query3       320       query3_profile_limit_320.json    0.016063   0.012630
36  query3       640       query3_profile_limit_640.json    0.022560   0.013895
23  query3      1280      query3_profile_limit_1280.json    0.043926   0.038085
29  query3      2560      query3_profile_limit_2560.json    0.065158   0.032888
35  query3      5120      query3_profile_limit_5120.json    0.081885   0.023298
22  query3     10240     query3_profile_limit_10240.json    0.144327   0.024857
28  query3     20480     query3_profile_limit_20480.json    0.304969   0.049168
33  query3     40960     query3_profile_limit_40960.json    0.600481   0.057095
39  query3     81920     query3_profile_limit_81920.json    1.352820   0.104504
26  query3    163840    query3_profile_limit_163840.json    2.991557   0.262623
31  query3    327680    query3_profile_limit_327680.json    6.652158   0.304044
37  query3    655360    query3_profile_limit_655360.json   14.698151   0.817131
24  query3   1310720   query3_profile_limit_1310720.json   30.357780   2.028718
40  query4        -1                 query4_profile.json   88.873273  25.075327
41  query4        10        query4_profile_limit_10.json    0.004093   0.001647
42  query4       100       query4_profile_limit_100.json    0.239975   0.151701
43  query4      1000      query4_profile_limit_1000.json   11.875302   6.863610
44  query4     10000     query4_profile_limit_10000.json   57.044991  45.531293
45  query4    100000    query4_profile_limit_100000.json   79.258881  79.069942
46  query5        -1                 query5_profile.json  248.488283   0.323760
54  query5         5         query5_profile_limit_5.json   31.872162  40.085488
47  query5        10        query5_profile_limit_10.json   42.690210  50.007973
50  query5        20        query5_profile_limit_20.json   48.148892  45.858134
53  query5        40        query5_profile_limit_40.json   45.582374  27.179671
57  query5        80        query5_profile_limit_80.json   58.793848  24.491225
49  query5       160       query5_profile_limit_160.json   78.188626  22.204602
52  query5       320       query5_profile_limit_320.json  101.063021  17.985770
56  query5       640       query5_profile_limit_640.json  137.234999  18.369590
48  query5      1280      query5_profile_limit_1280.json  176.703689  16.922513
51  query5      2560      query5_profile_limit_2560.json  216.588888  12.987770
55  query5      5120      query5_profile_limit_5120.json  254.392898  12.480520
58  query6        -1                 query6_profile.json  296.115896   0.107345
63  query6         5         query6_profile_limit_5.json   23.707330   0.081707
59  query6        10        query6_profile_limit_10.json   40.668777   0.550095
61  query6        20        query6_profile_limit_20.json   63.959875   0.618710
62  query6        40        query6_profile_limit_40.json  112.477971   0.255026
64  query6        80        query6_profile_limit_80.json  262.089025   1.600965
60  query6       100       query6_profile_limit_100.json  296.115896   0.107345

In [11]:
df0 = pd.merge(dfs[['query', 'limit', 'delta']], dfa[['query', 'limit', 'delta']], 
         how='inner', on=['query', 'limit'], suffixes=['_sql', '_arango']).sort_values(['query', 'limit'])

In [12]:
df0

    query  limit    delta_sql  delta_arango
0  query1     -1     5.173050    102.458969
1  query2     -1   100.157337    128.315026
2  query3     -1   838.349698     22.170851
3  query4     -1  3548.872995     88.873273
4  query5     -1    93.625098    248.488283
6  query5      5   212.950017     31.872162
5  query5     10   590.332320     42.690210

In [13]:
df00 = pd.merge(dfs[['query', 'limit', 'delta']], dfa[['query', 'limit', 'delta']], 
         how='outer', on=['query', 'limit'], suffixes=['_sql', '_arango']).sort_values(['query', 'limit'])

In [16]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
df00

     query     limit    delta_sql  delta_arango
0   query1        -1     5.173050    102.458969
17  query1         5          NaN      0.000692
10  query1        10          NaN      0.000768
13  query1        20          NaN      0.017741
16  query1        40          NaN      0.024754
20  query1        80          NaN      0.088174
1   query1       125    12.609336           NaN
12  query1       160          NaN      0.239687
15  query1       320          NaN      1.003525
19  query1       640          NaN      3.161221
11  query1      1280          NaN      9.039622
14  query1      2560          NaN     24.945447
18  query1      5120          NaN     63.612212
2   query2        -1   100.157337    128.315026
21  query2        10          NaN     10.698906
22  query2       100          NaN     10.673837
23  query2      1000          NaN     10.737183
24  query2     10000          NaN     10.970796
25  query2    100000          NaN     13.389215
26  query2   1000000          NaN     41.146657
27  query2  10000000          NaN    188.520056
3   query3        -1   838.349698     22.170851
41  query3         5          NaN      0.000556
28  query3        10          NaN      0.000493
34  query3        20          NaN      0.003473
39  query3        40          NaN      0.000800
45  query3        80          NaN      0.001224
32  query3       160          NaN      0.011961
37  query3       320          NaN      0.016063
43  query3       640          NaN      0.022560
30  query3      1280          NaN      0.043926
36  query3      2560          NaN      0.065158
42  query3      5120          NaN      0.081885
29  query3     10240          NaN      0.144327
35  query3     20480          NaN      0.304969
40  query3     40960          NaN      0.600481
46  query3     81920          NaN      1.352820
33  query3    163840          NaN      2.991557
38  query3    327680          NaN      6.652158
44  query3    655360          NaN     14.698151
31  query3   1310720          NaN     30.357780
4   query4        -1  3548.872995     88.873273
47  query4        10          NaN      0.004093
48  query4       100          NaN      0.239975
49  query4      1000          NaN     11.875302
50  query4     10000          NaN     57.044991
51  query4    100000          NaN     79.258881
5   query5        -1    93.625098    248.488283
9   query5         5   212.950017     31.872162
6   query5        10   590.332320     42.690210
54  query5        20          NaN     48.148892
8   query5        25   350.222781           NaN
57  query5        40          NaN     45.582374
60  query5        80          NaN     58.793848
7   query5       125   338.962520           NaN
53  query5       160          NaN     78.188626
56  query5       320          NaN    101.063021
59  query5       640          NaN    137.234999
52  query5      1280          NaN    176.703689
55  query5      2560          NaN    216.588888
58  query5      5120          NaN    254.392898
61  query6        -1          NaN    296.115896
66  query6         5          NaN     23.707330
62  query6        10          NaN     40.668777
64  query6        20          NaN     63.959875
65  query6        40          NaN    112.477971
67  query6        80          NaN    262.089025
63  query6       100          NaN    296.115896